/* -------------- */
/* SEARCH INPUT   */
/* -------------- */

.search-input {
  margin: 0 auto;
  width: 50vw;
  padding: 8px;
  margin-top: 1vh;
  border: none;
  font-size: 20px;
  line-height: 4vh;
  box-shadow: 2px 5px 3px #ccc;
}

/* -------------- */
/* SEARCH BUTTON  */
/* -------------- */

.search-button {
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
}
