/* ------------- */
/* SHARED STYLES */
/*-------------- */

body {
  background-color: #edeff2;
}

.btn {
  color: white;
  background-color: #1ba322;
  font-size: 20px;
  line-height: 4vh;
  box-shadow: 2px 5px 3px #ccc;;
  padding: 8px 16px;
  font-weight: 600;
}

.btn:hover {
  background-color: #127a17
}
