/* -------------- */
/* BOOK COMPONENT */
/* -------------- */

.component-book {
  width: 50vw;
  margin-top: 5vh;
  box-shadow: 2px 5px 3px #ccc;
  background-color: #f9fbff;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1.7rem;
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
}

/* ---------------- */
/* BOOK INFOMRATION */
/* ---------------- */

.book-image {
  height: 25vh;
  box-shadow: 2px 5px 3px #ccc;
  margin-top: 15px;
  margin-left: 5vw;
  max-width: 130px;
}

.book-title {
  font-size: 1.5em;
  margin: 5px 0px;
  margin-top: 2.5vh;
}

.book-info-link {
  border-radius: 10px;
  text-decoration: none;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}
